<div class="container">
  <h2>The top places right now</h2>
  <% rank = 1 %>
  <% @venues.each do |v| %>
    <div class="results">
      <div id="rank">
        <%= rank %>
      </div>

      <div class="result">
        <div class="current_checkins">
          <p>Current <br>
            Check-ins</p>
          <p><%= v["hereNow"]["count"] %></p>
        </div>
        <div class="venue_details">
          <div><img src="<%= v["categories"][0]["icon"] %>"></div>
          <p><a href= "<%= v["canonicalUrl"] %>" target="blank"><%= v["name"] %></a></p>
          <p><%= v["location"]["address"] %></p>
          <p>Total Check-ins: <%= v["stats"]["checkinsCount"] %></p>
          <p><%= link_to "Social talk about this", "https://twitter.com/search?q=#{v["name"]}", :target => "_blank" %></p>
        </div>
            <p id="save">Get direction</p>
      </div>
      <% rank += 1 %>
    </div>
  <% end %>
</div>

<div style="padding: 20px;">
        <input id="query" type="text" value="blue angels" />
        <input id="submit" type="button" value="Search" />
    </div>
    <div id="tweets" style="padding: 20px;">
        Tweets will go here.
</div>
