<div class="container">
  <h1>Where is hot now?</h1>
  <div class="rule_yellow" style="width:570px"></div>
  <div class="rule_white" style="width:570px"></div>

  <div id="search_box">
    <form action="/results" method="get">
    <input type="text" name="address" placeholder="Enter city or an address"/>
    <button class="btn_blue"> search </button>
  </div>

<div class="container">
  <div class="span6 offset3">
  <%= link_to image_tag("https://foursquare.com/img/categories_v2/travel/default_bg_64.png"), hotels_path(:address => "Bangkok")  %>
<%= link_to image_tag("https://foursquare.com/img/categories_v2/food/default_bg_64.png"), restaurants_path(:address => "Bangkok")  %>
<%= link_to image_tag("https://foursquare.com/img/categories_v2/arts_entertainment/default_bg_64.png"), entertainments_path(:address => "Bangkok")  %>
<%= link_to image_tag("https://foursquare.com/img/categories_v2/shops/default_bg_64.png"), shops_path(:address => "Bangkok")  %>
</div>
</div>

</div>

<div class="container">
  <div class="span6">
    <div id="wrap">
            <div class="header-container">
                <header class="wrapper clearfix">
                  <div class="ctaColumn">
                    <h1>TrendVel Mobile</h1>
                    </div>

                    <div class="fader">
                      <div class="flexslider1">
                        <ul class="slides">
                          <!-- INSERT IPHONE SLIDE  -->
                          <li><%= image_tag("p1.jpg")%></li>
                          <!-- INSERT IPHONE SLIDE  -->
                          <li><%= image_tag("p2.jpg")%></li>
                          <!-- INSERT IPHONE SLIDE  -->
                          <li><%= image_tag("p3.jpg")%></li>
                        </ul>
                      </div>
                    </div>

                </header>
            </div>
    </div>
  </div>

    <div class="span6">

      <h1>Unleash your travel!</h1>
      <p><h3>Trendvel</h3> finds the coolest place in your location with realtime social</p>

      <p>So what are you waiting for? Start your travel now.</p>
      <ul>
        <li><h3>Step 1: finds the coolest place.</h3></li>
        <li><h3 style="margin-top:10px;">Step 2: Get direction.</h3></li>
        <li><h3 style="margin-top:10px;">Step 3: Check-in your trip and share your achievement.</h3></li>
      </ul>
    </div>

  </div>


  <footer class="footer">
      <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://locaze.co" target="_blank">@locaze</a>.</p>
      </div>
  </footer>

</div>
