<!DOCTYPE html>
<html>
<head>
  <title>Trendveller</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
        JQUERY4U.TWITTER.init();
    });
  </script>
  <script type="text/javascript">
    var locale = '<%= I18n.locale %>';
  </script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

<body id="bg_yellow">

<%= yield %>

</body>
</html>
